This is a Linear Regression mini project submitted by Aryaman Adivya Singh RA2011003011266 and provides the linear regression on Stock Market.csv dataset.

# **Data Extract and Loading**

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving stock market prediction_11266.csv to stock market prediction_11266.csv

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('stock market prediction_11266.csv')

In [ ]:
df.head

<bound method NDFrame.head of             Date          Open          High           Low         Close  \
0     2016-07-01  17924.240234  18002.380859  17916.910156  17949.369141
1     2016-06-30  17712.759766  17930.609375  17711.800781  17929.990234
2     2016-06-29  17456.019531  17704.509766  17456.019531  17694.679688
3     2016-06-28  17190.509766  17409.720703  17190.509766  17409.720703
4     2016-06-27  17355.210938  17355.210938  17063.080078  17140.240234
...          ...           ...           ...           ...           ...
1984  2008-08-14  11532.070312  11718.280273  11450.889648  11615.929688
1985  2008-08-13  11632.809570  11633.780273  11453.339844  11532.959961
1986  2008-08-12  11781.700195  11782.349609  11601.519531  11642.469727
1987  2008-08-11  11729.669922  11867.110352  11675.530273  11782.349609
1988  2008-08-08  11432.089844  11759.959961  11388.040039  11734.320312

         Volume     Adj Close
0      82160000  17949.369141
1     133030000  17929.990234
2     106380000  17694.679688
3     112190000  17409.720703
4     138740000  17140.240234
...         ...           ...
1984  159790000  11615.929688
1985  182550000  11532.959961
1986  173590000  11642.469727
1987  183190000  11782.349609
1988  212830000  11734.320312

[1989 rows x 7 columns]>

In [ ]:
df.shape

(1989, 7)

In [ ]:
df.isnull().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Volume       0
Adj Close    0
dtype: int64

In [ ]:
df.count()

Date         1989
Open         1989
High         1989
Low          1989
Close        1989
Volume       1989
Adj Close    1989
dtype: int64

# **PRE DATA PROCESSING**

In [ ]:
df2 = df.drop(['Date'],axis=1)
df2

,Open,High,Low,Close,Volume,Adj Close
0,17924.240234,18002.380859,17916.910156,17949.369141,82160000,17949.369141
1,17712.759766,17930.609375,17711.800781,17929.990234,133030000,17929.990234
2,17456.019531,17704.509766,17456.019531,17694.679688,106380000,17694.679688
3,17190.509766,17409.720703,17190.509766,17409.720703,112190000,17409.720703
4,17355.210938,17355.210938,17063.080078,17140.240234,138740000,17140.240234
...,...,...,...,...,...,...
1984,11532.070312,11718.280273,11450.889648,11615.929688,159790000,11615.929688
1985,11632.809570,11633.780273,11453.339844,11532.959961,182550000,11532.959961
1986,11781.700195,11782.349609,11601.519531,11642.469727,173590000,11642.469727
1987,11729.669922,11867.110352,11675.530273,11782.349609,183190000,11782.349609
1988,11432.089844,11759.959961,11388.040039,11734.320312,212830000,11734.320312

In [ ]:
date = df['Date']
date

0       2016-07-01
1       2016-06-30
2       2016-06-29
3       2016-06-28
4       2016-06-27
           ...
1984    2008-08-14
1985    2008-08-13
1986    2008-08-12
1987    2008-08-11
1988    2008-08-08
Name: Date, Length: 1989, dtype: object

In [ ]:
from sklearn import preprocessing

# **NORMALISATION**

In [ ]:
d = preprocessing.normalize(df2,axis = 0)
normalized_df = pd.DataFrame(d)
normalized_df.head()

          0         1         2         3         4         5
0  0.029079  0.029041  0.029241  0.029111  0.009802  0.029111
1  0.028736  0.028925  0.028907  0.029080  0.015871  0.029080
2  0.028319  0.028560  0.028489  0.028698  0.012691  0.028698
3  0.027889  0.028085  0.028056  0.028236  0.013384  0.028236
4  0.028156  0.027997  0.027848  0.027799  0.016552  0.027799

In [ ]:
normalized_df.shape

(1989, 6)

In [ ]:
normalized_df

             0         1         2         3         4         5
0     0.029079  0.029041  0.029241  0.029111  0.009802  0.029111
1     0.028736  0.028925  0.028907  0.029080  0.015871  0.029080
2     0.028319  0.028560  0.028489  0.028698  0.012691  0.028698
3     0.027889  0.028085  0.028056  0.028236  0.013384  0.028236
4     0.028156  0.027997  0.027848  0.027799  0.016552  0.027799
...        ...       ...       ...       ...       ...       ...
1984  0.018709  0.018904  0.018688  0.018839  0.019063  0.018839
1985  0.018872  0.018767  0.018692  0.018705  0.021778  0.018705
1986  0.019114  0.019007  0.018934  0.018883  0.020709  0.018883
1987  0.019029  0.019144  0.019055  0.019109  0.021855  0.019109
1988  0.018547  0.018971  0.018586  0.019031  0.025391  0.019031

[1989 rows x 6 columns]

In [ ]:
normalized_df.columns = ['Open','High','Low','Close','Volume','Adj Close']
normalized_df.head

<bound method NDFrame.head of           Open      High       Low     Close    Volume  Adj Close
0     0.029079  0.029041  0.029241  0.029111  0.009802   0.029111
1     0.028736  0.028925  0.028907  0.029080  0.015871   0.029080
2     0.028319  0.028560  0.028489  0.028698  0.012691   0.028698
3     0.027889  0.028085  0.028056  0.028236  0.013384   0.028236
4     0.028156  0.027997  0.027848  0.027799  0.016552   0.027799
...        ...       ...       ...       ...       ...        ...
1984  0.018709  0.018904  0.018688  0.018839  0.019063   0.018839
1985  0.018872  0.018767  0.018692  0.018705  0.021778   0.018705
1986  0.019114  0.019007  0.018934  0.018883  0.020709   0.018883
1987  0.019029  0.019144  0.019055  0.019109  0.021855   0.019109
1988  0.018547  0.018971  0.018586  0.019031  0.025391   0.019031

[1989 rows x 6 columns]>

In [ ]:
normalized_df

            Date      Open      High       Low     Close    Volume  Adj Close
0     2016-07-01  0.029079  0.029041  0.029241  0.029111  0.009802   0.029111
1     2016-06-30  0.028736  0.028925  0.028907  0.029080  0.015871   0.029080
2     2016-06-29  0.028319  0.028560  0.028489  0.028698  0.012691   0.028698
3     2016-06-28  0.027889  0.028085  0.028056  0.028236  0.013384   0.028236
4     2016-06-27  0.028156  0.027997  0.027848  0.027799  0.016552   0.027799
...          ...       ...       ...       ...       ...       ...        ...
1984  2008-08-14  0.018709  0.018904  0.018688  0.018839  0.019063   0.018839
1985  2008-08-13  0.018872  0.018767  0.018692  0.018705  0.021778   0.018705
1986  2008-08-12  0.019114  0.019007  0.018934  0.018883  0.020709   0.018883
1987  2008-08-11  0.019029  0.019144  0.019055  0.019109  0.021855   0.019109
1988  2008-08-08  0.018547  0.018971  0.018586  0.019031  0.025391   0.019031

[1989 rows x 7 columns]

In [ ]:
normalized_df.insert(0, 'Date', date)
normalized_df.head

<bound method NDFrame.head of             Date      Open      High       Low     Close    Volume  Adj Close
0     2016-07-01  0.029079  0.029041  0.029241  0.029111  0.009802   0.029111
1     2016-06-30  0.028736  0.028925  0.028907  0.029080  0.015871   0.029080
2     2016-06-29  0.028319  0.028560  0.028489  0.028698  0.012691   0.028698
3     2016-06-28  0.027889  0.028085  0.028056  0.028236  0.013384   0.028236
4     2016-06-27  0.028156  0.027997  0.027848  0.027799  0.016552   0.027799
...          ...       ...       ...       ...       ...       ...        ...
1984  2008-08-14  0.018709  0.018904  0.018688  0.018839  0.019063   0.018839
1985  2008-08-13  0.018872  0.018767  0.018692  0.018705  0.021778   0.018705
1986  2008-08-12  0.019114  0.019007  0.018934  0.018883  0.020709   0.018883
1987  2008-08-11  0.019029  0.019144  0.019055  0.019109  0.021855   0.019109
1988  2008-08-08  0.018547  0.018971  0.018586  0.019031  0.025391   0.019031

[1989 rows x 7 columns]>

In [ ]:
normalized_df = normalized_df.drop(['Date'],axis=1)
normalized_df

          Open      High       Low     Close    Volume  Adj Close
0     0.029079  0.029041  0.029241  0.029111  0.009802   0.029111
1     0.028736  0.028925  0.028907  0.029080  0.015871   0.029080
2     0.028319  0.028560  0.028489  0.028698  0.012691   0.028698
3     0.027889  0.028085  0.028056  0.028236  0.013384   0.028236
4     0.028156  0.027997  0.027848  0.027799  0.016552   0.027799
...        ...       ...       ...       ...       ...        ...
1984  0.018709  0.018904  0.018688  0.018839  0.019063   0.018839
1985  0.018872  0.018767  0.018692  0.018705  0.021778   0.018705
1986  0.019114  0.019007  0.018934  0.018883  0.020709   0.018883
1987  0.019029  0.019144  0.019055  0.019109  0.021855   0.019109
1988  0.018547  0.018971  0.018586  0.019031  0.025391   0.019031

[1989 rows x 6 columns]

# **RAW DATA PREDICTION (MAE,MSE,RMSE)**

In [ ]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [ ]:
x = df[['Open','High','Low','Close','Volume']]
y = df['Adj Close']

In [ ]:
x1_train, x1_test, y1_train, y1_test = train_test_split(x, y, test_size=0.2,random_state=101)

In [ ]:
lr.fit(x1_train,y1_train)
LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,normalize=False)

LinearRegression(normalize=False)

In [ ]:
predictions = lr.predict(x1_test)
predictions

array([17084.490234, 10428.049805,  9544.200195, 11059.019531,
       16990.689453, 17895.220703, 15498.320312,  9543.519531,
       15451.089844, 14897.549805, 17926.429688,  8500.330078,
       11113.950195, 12020.030273, 16014.379883,  8078.359863,
       17050.75    , 12170.179688, 13104.139648, 11722.889648,
       12962.80957 , 15082.620117, 16380.410156, 11151.830078,
       17824.289062, 11493.570312, 10572.730469, 16906.619141,
       17758.210938, 11573.490234, 15177.540039, 12294.      ,
       11255.780273, 12883.950195, 15494.780273, 16867.509766,
       13575.360352, 11428.55957 , 12287.040039, 16368.269531,
       16247.219727, 10739.30957 , 12479.879883, 15755.360352,
       12805.389648, 13268.570312, 11284.540039, 16818.130859,
       14995.230469, 14802.240234, 13564.639648, 16817.939453,
       10812.040039, 17804.869141, 16514.099609, 16826.599609,
        8183.169922, 13900.129883,  7997.279785,  9599.75    ,
       11523.009766, 11961.519531,  8149.089844, 11671.879883,
       12964.099609, 10663.990234, 12418.419922, 13539.860352,
       14659.55957 , 15484.259766, 16599.849609, 11585.379883,
       16417.009766, 16945.919922,  9509.280273, 17982.519531,
        8952.889648, 15871.349609, 16336.660156, 12772.469727,
       16373.860352, 11434.839844, 13860.580078, 15884.570312,
       11569.709961, 16880.359375, 13471.219727, 17949.369141,
       12569.790039, 15548.540039, 10627.259766,  9487.669922,
       18209.189453, 13390.509766, 17908.279297, 12437.120117,
        9033.660156, 10099.139648, 11268.919922, 16722.339844,
       12212.790039, 11143.30957 , 10198.030273, 16530.939453,
       11796.160156, 16418.679688, 14909.599609, 10753.620117,
       11893.860352, 12319.730469,  7749.810059, 12479.580078,
       15392.200195, 11205.030273,  9547.219727,  8924.139648,
       17195.419922, 16643.009766, 17711.119141, 16072.799805,
       16384.580078, 16654.769531, 11320.709961, 13103.679688,
       13345.889648, 11577.509766, 17773.640625, 13579.469727,
       13172.759766, 17138.199219, 12397.379883, 14960.589844,
       14818.75    , 16697.289062, 15944.459961, 15118.490234,
       17419.75    , 14565.25    , 17801.199219,  9829.870117,
       17511.570312, 10944.719727, 14839.799805, 13880.080078,
       17515.230469, 10467.160156, 13001.55957 ,  7365.669922,
       17180.839844, 12086.019531, 15326.599609,  8076.290039,
       17673.019531,  8497.179688, 12965.69043 , 10041.480469,
       10319.950195, 13172.139648, 16518.539062, 12908.700195,
        8599.179688, 17623.050781, 14932.410156, 17425.029297,
       15567.740234, 11190.69043 , 17920.330078, 11146.570312,
       16569.279297, 18053.710938, 11382.089844, 12248.549805,
       11105.849609,  9241.450195, 18034.929688, 13548.94043 ,
       11020.400391,  8277.320312, 15302.799805, 12849.589844,
       16401.019531, 13986.519531, 15129.669922,  8473.969727,
       10644.25    , 12638.740234, 10363.019531, 11613.299805,
       18116.039062, 17946.679688, 17368.5     , 15543.740234,
       15372.799805, 17718.539062, 12580.69043 , 11482.900391,
        7850.410156, 17851.509766, 11018.660156, 16257.94043 ,
       12261.419922, 10332.44043 , 17076.869141,  8273.580078,
       15248.120117, 17524.910156, 10620.160156,  9605.410156,
       17501.650391, 17737.160156, 13880.620117, 11697.30957 ,
       17888.349609, 17440.589844,  8770.919922, 11868.80957 ,
       16484.990234,  8504.080078, 12921.410156, 12446.879883,
       17541.960938, 15843.530273, 13473.530273, 10390.110352,
       10444.370117, 12560.179688,  6547.049805, 12050.      ,
       14974.959961, 17760.410156, 14450.05957 , 10014.719727,
       10450.639648, 18068.230469, 18029.849609, 10680.429688,
       16446.810547, 12570.950195,  8299.860352, 11362.19043 ,
       12548.370117, 17983.070312, 12788.509766, 14613.480469,
        7949.089844, 11167.320312, 16504.289062,  8635.419922,
       14922.5     ,  9731.25    , 17730.109375, 13779.330078,
       10136.629883, 11117.05957 , 10309.240234, 11891.929688,
       13021.820312, 14676.299805, 13583.650391, 12573.799805,
       11201.969727, 11516.919922, 10680.769531, 18076.189453,
       11823.700195, 17584.519531,  8375.450195, 15879.110352,
       12855.040039, 16058.349609, 11091.870117, 10462.769531,
       17529.980469, 18086.449219, 17791.169922, 11642.469727,
       17086.630859, 10594.830078, 10978.620117, 15618.219727,
       12080.379883, 16808.490234, 13032.75    ,  9743.620117,
       12985.110352,  8146.52002 , 13494.610352,  9370.070312,
       15224.69043 , 18024.060547,  8824.339844, 12369.379883,
       17712.660156, 12041.969727, 17550.689453, 17137.359375,
       10197.469727,  7957.060059,  7936.75    , 16245.870117,
       17215.970703, 11980.519531, 10653.55957 ,  9762.69043 ,
       18037.970703, 15135.839844, 13825.330078, 10913.379883,
       13080.730469, 16049.129883, 10625.830078, 16501.650391,
       15885.219727, 15307.169922, 16360.179688, 10572.019531,
       17128.550781,  7170.060059, 13057.459961,  8175.77002 ,
       10710.549805, 13649.700195, 16530.550781,  8740.870117,
       11774.589844, 13232.620117, 16452.720703, 16964.099609,
        8579.110352, 17100.179688, 17483.009766, 17619.509766,
       17729.679688, 10015.860352, 17729.210938, 14127.820312,
       17856.779297, 15445.240234, 12258.200195, 17603.320312,
       12684.679688,  7886.569824, 13250.110352, 12089.959961,
        7975.850098, 10308.259766, 11139.299805, 12651.910156,
       12943.360352, 12824.389648, 10120.459961, 13203.580078,
        9771.910156, 16408.539062, 12959.709961, 15191.700195,
       10733.830078, 10068.009766, 11019.69043 , 14455.820312,
       16331.049805,  9279.160156, 12721.459961, 16201.320312,
       15072.580078, 10618.19043 , 14075.370117, 13981.759766,
       17678.230469,  8711.820312,  7182.080078, 10002.179688,
       11123.330078, 17651.259766,  7552.290039, 12394.660156,
       14572.849609, 11410.209961, 17890.359375,  9870.299805,
       13228.30957 , 10854.650391, 16912.109375, 12188.69043 ,
       10860.259766, 17907.869141, 16543.080078, 17417.269531,
       12675.75    , 15399.650391, 17949.589844, 16374.30957 ,
       17694.679688, 10060.05957 , 10850.360352, 11421.990234,
       10018.280273, 17614.900391])

In [ ]:
inter = lr.intercept_
coe = lr.coef_
print(inter)
print(coe)

-3.637978807091713e-12
[ 9.38343493e-15 -1.09138501e-14  7.34267768e-16  1.00000000e+00
  1.35525272e-20]

In [ ]:
from sklearn import metrics

print('MAE:', metrics.mean_absolute_error(y1_test, predictions))
print('MSE:', metrics.mean_squared_error(y1_test, predictions))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y1_test, predictions)))

MAE: 1.7664306644986771e-12
MSE: 4.973475391556269e-24
RMSE: 2.230129007828083e-12

#**Normalized Data Predictions(MAE,MSE,RMSE)**

In [ ]:
x2 = normalized_df[['Open','High','Low','Close','Volume']]
y2= normalized_df['Adj Close']

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x2, y2, test_size=0.2,random_state=101)

In [ ]:
lr.fit(x_train,y_train)
LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,normalize=True)

LinearRegression(normalize=True)

In [ ]:
predictions = lr.predict(x_test)

In [ ]:
predictions

array([0.02770874, 0.01691289, 0.0154794 , 0.01793624, 0.02755661,
       0.02902363, 0.02513618, 0.0154783 , 0.02505958, 0.02416182,
       0.02907425, 0.01378639, 0.01802533, 0.01949487, 0.02597316,
       0.01310201, 0.02765402, 0.01973839, 0.02125315, 0.01901295,
       0.02102393, 0.02446197, 0.02656681, 0.01808676, 0.02890859,
       0.01864102, 0.01714754, 0.02742025, 0.02880142, 0.01877064,
       0.02461592, 0.01993921, 0.01825536, 0.02089603, 0.02513044,
       0.02735682, 0.0220174 , 0.01853558, 0.01992792, 0.02654712,
       0.0263508 , 0.01741771, 0.02024068, 0.02555307, 0.02076861,
       0.02151983, 0.018302  , 0.02727674, 0.02432024, 0.02400724,
       0.02200001, 0.02727643, 0.01753567, 0.0288771 , 0.02678364,
       0.02729047, 0.013272  , 0.02254413, 0.01297051, 0.0155695 ,
       0.01868877, 0.01939997, 0.01321672, 0.01893021, 0.02102602,
       0.01729555, 0.020141  , 0.02195983, 0.02377583, 0.02511338,
       0.02692272, 0.01878992, 0.02662617, 0.027484  , 0.01542277,
       0.02916522, 0.01452038, 0.02574119, 0.02649586, 0.02071522,
       0.02655619, 0.01854577, 0.02247999, 0.02576263, 0.01876451,
       0.02737766, 0.0218485 , 0.02911145, 0.0203865 , 0.02521763,
       0.01723598, 0.01538772, 0.02953285, 0.0217176 , 0.02904481,
       0.02017133, 0.01465138, 0.01637944, 0.01827667, 0.02712138,
       0.0198075 , 0.01807294, 0.01653983, 0.02681095, 0.01913178,
       0.02662888, 0.02418136, 0.01744092, 0.01929024, 0.01998094,
       0.01256915, 0.02024019, 0.02496407, 0.01817305, 0.0154843 ,
       0.01447375, 0.02788865, 0.02699272, 0.02872505, 0.02606791,
       0.02657358, 0.02701179, 0.01836066, 0.0212524 , 0.02164523,
       0.01877716, 0.02882645, 0.02202407, 0.02136444, 0.02779585,
       0.02010688, 0.02426406, 0.02403401, 0.02708075, 0.02585976,
       0.02452015, 0.02825248, 0.02362287, 0.02887114, 0.01594272,
       0.0284014 , 0.01775086, 0.02406815, 0.02251162, 0.02840734,
       0.01697632, 0.02108678, 0.01194612, 0.027865  , 0.01960189,
       0.02485768, 0.01309865, 0.02866325, 0.01378128, 0.0210286 ,
       0.01628593, 0.01673757, 0.02136343, 0.02679084, 0.02093617,
       0.01394671, 0.02858221, 0.02421835, 0.02826105, 0.02524877,
       0.01814979, 0.02906436, 0.01807823, 0.02687314, 0.02928068,
       0.01846021, 0.01986549, 0.01801219, 0.01498839, 0.02925022,
       0.02197455, 0.0178736 , 0.0134247 , 0.02481908, 0.0208403 ,
       0.02660024, 0.02268425, 0.02453828, 0.01374364, 0.01726354,
       0.02049833, 0.01680742, 0.01883521, 0.02938177, 0.02910709,
       0.02816936, 0.02520985, 0.02493261, 0.02873708, 0.02040418,
       0.01862371, 0.01273231, 0.02895274, 0.01787078, 0.02636819,
       0.01988637, 0.01675782, 0.02769638, 0.01341863, 0.02473039,
       0.02842304, 0.01722447, 0.01557868, 0.02838532, 0.02876728,
       0.02251249, 0.01897146, 0.02901249, 0.02828628, 0.01422525,
       0.01924961, 0.02673643, 0.01379247, 0.02095678, 0.02018716,
       0.02845069, 0.02569607, 0.02185225, 0.01685136, 0.01693936,
       0.02037092, 0.01061843, 0.01954347, 0.02428736, 0.02880499,
       0.02343605, 0.01624252, 0.01694953, 0.02930423, 0.02924198,
       0.01732222, 0.02667451, 0.02038838, 0.01346125, 0.01842794,
       0.02035176, 0.02916611, 0.02074124, 0.02370109, 0.01289235,
       0.01811189, 0.02676773, 0.01400549, 0.02420228, 0.01578277,
       0.02875584, 0.02234821, 0.01644025, 0.01803037, 0.0167202 ,
       0.01928711, 0.02111964, 0.02380298, 0.02203085, 0.02039301,
       0.01816808, 0.01867889, 0.01732277, 0.02931714, 0.01917645,
       0.02851972, 0.01358385, 0.02575377, 0.02084914, 0.02604448,
       0.01798952, 0.0169692 , 0.02843126, 0.02933378, 0.02885488,
       0.01888251, 0.02771221, 0.01718338, 0.01780584, 0.02533064,
       0.01959275, 0.0272611 , 0.02113736, 0.01580284, 0.0210601 ,
       0.01321256, 0.02188644, 0.01519699, 0.02469239, 0.02923259,
       0.01431189, 0.02006146, 0.02872754, 0.01953045, 0.02846485,
       0.02779448, 0.01653892, 0.01290528, 0.01287234, 0.02634861,
       0.02792198, 0.01943079, 0.01727864, 0.01583377, 0.02925515,
       0.02454829, 0.02242282, 0.01770003, 0.02121518, 0.02602952,
       0.01723366, 0.02676345, 0.02576368, 0.02482616, 0.026534  ,
       0.01714639, 0.0277802 , 0.01162887, 0.02117744, 0.01326   ,
       0.01737107, 0.02213797, 0.02681032, 0.01417651, 0.0190968 ,
       0.02146152, 0.02668409, 0.02751348, 0.01391416, 0.02773418,
       0.02835508, 0.02857647, 0.02875515, 0.01624437, 0.02875439,
       0.02291342, 0.02896129, 0.0250501 , 0.01988115, 0.02855021,
       0.02057284, 0.01279095, 0.02148989, 0.01960828, 0.01293575,
       0.01671861, 0.01806644, 0.02051969, 0.02099238, 0.02079943,
       0.01641402, 0.02141443, 0.01584872, 0.02661244, 0.0210189 ,
       0.02463889, 0.01740882, 0.01632895, 0.01787245, 0.02344539,
       0.02648676, 0.01504955, 0.02063249, 0.02627636, 0.02444569,
       0.01722127, 0.02282835, 0.02267653, 0.0286717 , 0.0141294 ,
       0.01164836, 0.01622219, 0.01804054, 0.02862796, 0.0122488 ,
       0.02010247, 0.0236352 , 0.01850582, 0.02901575, 0.01600829,
       0.02145453, 0.01760478, 0.02742916, 0.01976841, 0.01761388,
       0.02904415, 0.02683064, 0.02824846, 0.02055836, 0.02497615,
       0.02911181, 0.02655692, 0.02869838, 0.01631606, 0.01759782,
       0.01852493, 0.0162483 , 0.02856899])

In [ ]:
intercept = lr.intercept_
print(intercept)

-1.3877787807814457e-17

In [ ]:
coef = lr.coef_
print(coef)

[ 6.18917833e-16  1.55431223e-15 -1.63757896e-15  1.00000000e+00
  1.66533454e-16]

In [ ]:
from sklearn import metrics

print('MAE:', metrics.mean_absolute_error(y_test, predictions))
print('MSE:', metrics.mean_squared_error(y_test, predictions))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, predictions)))

MAE: 2.170583645820226e-18
MSE: 1.0328283228772629e-35
RMSE: 3.2137646504952148e-18

# **CONCLUSION**

The Raw data before being normalized gives *MAE: 1.7664306644986771e-12*,       *MSE: 4.973475391556269e-24* AND *RMSE: 2.230129007828083e-12* which is already very low but **Normalized data** gives an *MAE*: 2.170583645820226e-18 ,
*MSE: 1.0328283228772629e-35* and  *RMSE: 3.2137646504952148e-18* which is lower than that provinf that normalized dataframe helps to bring down the errors to further enhance the predictions.